.quizContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(42ch, 1fr));
}

.quizItem {
    display: grid;
    border: 1px solid;
    break-before: page;
}

.quizQuestion {
    font-size: 14px;
}

.quizSubtitle {
    margin: 0;
    font-size: 10px;
}

.quizExtraInfo {
    display: grid;
    font-size: 12px;
    align-content: end;
}

.quizHint__caption {
    margin: 0;
    font-size: 12px;
    opacity: 0.8;
}

.quizDictionary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5px;
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.quizDictionaryItem {
    display: block;

    dt {
        display: inline-block;
        font-weight: bold;
    }

    dd {
        display: inline-block;
        margin: 0;

        &::before {
            content: "–";
            margin-inline: 0.25em;
            white-space: nowrap;
        }
    }
}

.quizOptions {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    place-content: center;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    font-size: 16px;
}

.quizAnswers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20ch, 1fr));
    place-items: center;
    gap: 4px;
    margin: 0;
    padding: 0;
    list-style-position: inside;
    font-size: 1rem;

    li {
        padding: 4px;

        &::marker {
            content: "✅";
        }
    }
}

.flagIcon {
}

.quizBox {
    display: grid;
    grid-auto-rows: 1fr;
    min-width: 0;
    aspect-ratio: 1;
    outline: 1px solid tomato;
}

.quizBoxItem {
    display: grid;
    grid-auto-rows: 1fr;
    gap: 2mm;
    padding: 5mm;
    border-bottom: 1px dotted lightgray;

    &:last-child {
        border-bottom: none;
    }
}
